{% extends "base.html" %}

{% block content %}
<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/">Home</a></li>
          <li><i class="fa fa-laptop"></i>Chama Groups</li>
          <li><i class="fa fa-pencil"></i><a href="{% url 'add-group' %}">Add New Group</a></li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="table-responsive">
          <section class="panel">
            <header class="panel-heading">
              Chama Groups List
            </header>
            <table class="table ml-3">
              <thead>
                <tr>
                  <th>Group No.</th>
                  <th>Name</th>
                  <th>Date Formed</th>
                  <th>Year</th>
                  <th>Members</th>
                  <th>Chairperson</th>
                </tr>
              </thead>
              <tbody>
        {% for group in object_list %}
                <tr>
                  <td>{{group.group_id}}</td>
                  <td>{{group.title}}</td>
                  <td>{{group.date_formed}}</td>
                  <td>{{group.year}}</td>
                  <td>{{group.number_of_members}}</td>
                  <td>{{group.chairperson}}</td>
                </tr>
      {% endfor %}
              </tbody>
            </table>
          </section>
        </div>

      </div>

  </section>
</section>

{% endblock content %}
