{% extends "base.html" %}

{% block content %}
<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/">Home</a></li>
          <li><i class="fa fa-laptop"></i>Membership Renewals</li>
          <li><i class="fa fa-pencil"></i><a href="{% url 'membership-renew' %}">Renew Membership</a></li>
          <li><i class=""></i><a href="{% url 'group-renewals' %}">Group Renewals</a></li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="table-responsive">
          <section class="panel">
            <header class="panel-heading">
              Membership Renewals List
            </header>
            <table class="table ml-3">
              <thead>
                <tr>
                  <th>Member</th>
                  <th>Renewal Amount</th>
                  <th>Year Renewed</th>
                  <th>Date Renewed</th>
                  <th colspan="3">Actions</th>
                </tr>
              </thead>
              <tbody>
        {% for membership_renewal in object_list %}
                <tr>
                  <td>{{membership_renewal.member}}</td>
                  <td>{{membership_renewal.renewal_amount}}</td>
                  <td>{{membership_renewal.year}}</td>
                  <td>{{membership_renewal.date_renewed}}</td>
                  <td>
                  	<a href="#" class="btn btn-info">Details!</a>
                  </td>
                  <td>
                  	<a href="#" class="btn btn-primary">Update!</a>
                  </td>
                  <td>
                  	<a href="#" class="btn btn-danger">Delete!</a>
                  </td>
                 
                </tr>
      {% endfor %}
              </tbody>
            </table>
          </section>
        </div>

      </div>

  </section>
</section>

{% endblock content %}
